/* base dir styling */

body{
   margin: 0%;
   overflow-x: hidden;
   box-sizing: border-box;
}

#navagation{
    width: 100%;
    height: 80px;
    background-color: rgb(128, 49, 181);
    color: rgb(215, 208, 208);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
}
.logo{
    width: 150px;
    height: 60px;
    border: 1px solid black;
    box-sizing: border-box;
}
.pilinks{
    width: 250px;
    height: 60px;
    border: 1px solid black;
    box-sizing: border-box;
}
.medias{
    width: 70px;
    height: 60px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid black;
}
.search{
    width: 30px;
    height: 60px;
    border: 1px solid black;
    box-sizing: border-box;
}
.navagation aside{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navagation div{
    display: flex;
    align-items: center;
    justify-content: center;
}