/* base dir styling */

body{
    margin: 0%;
    overflow-x: hidden;
    box-sizing: border-box;
 }

 #info{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 200;
 }
 .show-info{
    width: 300px;
    background-color: rgb(57, 55, 55);
    color: #fff;
    border-radius: 10px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 .txt{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
     'Helvetica Neue', sans-serif;
     font-weight: 400;
     font-size: 14px;
     width: 80%;
 }
 #okay-btn{
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 5px;
    color: #fff;
    letter-spacing: .5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    background-color: rebeccapurple;
 }
 #navagation{
     width: 100%;
     height: 80px;
     color: rgb(215, 208, 208);
     display: flex;
     align-items: center;
     justify-content: space-between;
     box-sizing: border-box;
     overflow: hidden;
     padding-left: 70px;
     padding-right: 70px;
     position: fixed;
     min-width: 100%;
     z-index: 100;
     transition: .4s all;
     z-index: 300;
 }
 .logo{
     width: 200px;
     height: 55px;
     box-sizing: border-box;
     overflow: hidden;
     background-image: url(images/pi\ net2.png);
     background-repeat: no-repeat;
     background-size: 100% 90%;
     cursor: pointer;
 }
 .pilinks{
     width: 500px;
     height: 55px;
     box-sizing: border-box;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 10px;
 }
 .pilinks a{
    text-decoration: none;
    color: rgb(213, 210, 210);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    font-weight: 500;
    transition: .3s;
 }
 .pilinks a:hover{
    border-bottom: 2px solid white;
    color: white;
 }
 .medias{
     width: 150px;
     height: 55px;
     box-sizing: border-box;
     overflow: hidden;
     margin-top: 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     justify-content: space-between;
 }
 .medias aside:hover{
    color: #fff;
 }
 .search{
     width: 30px;
     height: 55px;
     box-sizing: border-box;
     margin-top: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .search svg:hover{
    color: #fff;
 }
 .menu{
    margin-left: -30px;
 }
 #menu-btn{
    width: 50px;
    height: 50px;
    margin-top: 15px;
    background-color: transparent;
    color: #fff;
    border: none;
    display: none;
 }
 .links{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 #menu-show{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    position: fixed;
    background-color: rgb(60, 9, 97, 0.7);
    scale: 0.8;
    transition: .6s all;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    display: none;
    z-index: 200;
 }
 .show{
    width: 90%;
    height: 300px;
 }
 .show a{
    text-decoration: none;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    font-weight: 600;
    display: block;
 }
 .media-via-screen{
    width: 300px;
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #fff;
 }
 .media-via-screen svg{
    margin-right: 20px;
    width: 18px;
    height: 18px;
 }
 #sect1 {
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-image: url(images/cane.png);
    background-repeat: repeat;
    overflow-x: hidden;
 }
.sect-info{
    width: 100%;
    background: linear-gradient(
        100deg,
        rgb(50, 5, 87),
        rgb(50, 5, 87),
        rgb(60, 9, 97, 0.7)
    );
}
.txts{
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ttx{
    width: 650px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
     'Helvetica Neue', sans-serif;
}
.ttx h2{
    font-size: 50px;
}
.ass{
    font-size: 25px;
    line-height: 35px;
    width: 100%;
}
.ttx-btn{
    width: 250px;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
     'Helvetica Neue', sans-serif;
     letter-spacing: .5px;
     margin-top: 20px;
     font-size: 17px;
     font-weight: 600;
     color: goldenrod;
     background-color: transparent;
     border: 2px solid goldenrod;
     border-radius: 5px;
     transition: .4s;
}
.ttx-btn:hover{
    background-color: goldenrod;
    color: white;
}
.ttx2{
    margin-top: -50px;
    width: 400px;
    height: 600px;
    background-image: url(images/pi_video-6.webp);
    background-repeat: no-repeat;
    background-size: 100% 110%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ttx2 button {
    width: 100px;
    height: 100px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
}
#sect2{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: .1px;
}
.sect2head{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: #8a348e;
}
.sect2head svg{
    transform: rotateY(180deg);
    
}
.headtxt{
    width: 90%;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 35px;
    line-height: 50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
     'Helvetica Neue', sans-serif;
     font-weight: 700;
    color: #fff;
    position: relative;
    text-align: center;
    top: 30px;
}


/* media queries */
@media screen and (max-height:400px) {
    #menu-show{
        padding-top: 100px;
    }
    
}
@media screen and (min-width:1200px) {
    .txts{
        height: 100vh;
    }
    
}
@media  screen and (max-width:1200px) {
    .pilinks{
        display: none;
    }
    .medias{
        display: none;
    }
    .links{
        width: 10%;
    }
    #menu-btn{
        display: block;
    }
    .search{
        margin-top: 0px;
    }
    #menu-btn{
        margin-top: 0px;
    }
    .txts{
        height: 100vh;
    }
    .ttx{
       width: 450px;
    }
    .ttx h2{
        font-size: 40px;
    }
    .ass{
        font-size: 20px;
    }
    .headtxt{
        font-size: 20px;
        line-height: 35px;
        
    }
    .sect2head{
        height: 230px;
    }


}
@media screen and (max-width:990px) {
    .links{
        width: 20%;
    }
    .sect-info{
        padding-top: 70px;
    }
    .ttx{
        width: 100%;
    }
    .ttx2{
        width: 95%;
        height: 400px;
        margin: auto auto;
        background-image: url(images/screenvidioe.jpeg);
        background-size: 100% 100%;
    }
    .ttx2 button{
        display: none;
    }
    
}
@media screen and (max-width:550px) {
    #navagation{
        height: 60px;
    }
    .logo{
        width: 150px;
        height: 40px;
    }
    #navagation{
        padding-left: 30px;
        padding-right: 30px;
    }
    .txts{
        padding-left: 30px;
        padding-right: 30px;
    }
    .ttx h2{
        font-size: 25px;
    }
    .ass{
        font-size: 16px;
        line-height: 27px;
    }
   .ttx2{
    height: 250px !important;
    margin-top: 20px;
   }
}
@media screen and (max-width:680px) {
    .ttx2{
        width: 100%;
        height: 300px;
        margin-top: 5px;
    }
}
@media screen and (max-width:400px) {
    .logo{
        width: 130px;
        height: 30px;
    }
    #navagation{
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .links{
        width: 30%;
    }
    .search svg{
        width: 18px;
        height: 18px;
    }
    .ttx2{
        height: 200px !important;
        margin-top: 20px;
    }
}
@media screen and (max-width:280px) {
    .logo{
        width: 100px;
        height: 25px;
    }
    #navagation{
        padding-left: 10px !important;
        padding-right: 10px;
    }
    .search svg{
        width: 16px;
        height: 16px;
    }
    #menu-btn svg{
        width: 17px;
        height: 17px;
    }
    .ass{
        font-size: 12px;
    }
    .ttx-btn{
        width: 200px;
        font-size: 14px;
    }
    .ttx2{
        margin-top: 20px;
        height: 150px !important;
    }
}
